@import "tailwindcss";
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; /* Prevents any overflow or extra white space */
    overflow-x: hidden; /* Prevents horizontal scrolling */
  }
  